.masthead.segment {
    min-height:700px;
    padding: 0em !important;
}

.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}

.masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}
.ui.menu {
    margin-bottom: 5em;
}




