<div class="header width-full pt-5">
    <div class="container clearfix width-full text-center">
    <img src="assets/images/ouroboros.png" width="100px">
    </div>
</div>
<div class="ui container">
    <div class="auth-form px-3">
        <form class="ui form">
        <div class="auth-form-header p-0">
            <h1 class="inverted">Sign in to Homunculi</h1>
        </div>
        <div class="auth-form-body mt-3">
            <div class="field">
                <label>Email address</label>
                <input type="text" name="email" placeholder="Email@email.com"/>
                </div>
                <div class="field">
                <label>Password</label>
                <input type="password" name="password" placeholder="Password"/>
                </div>
                <button class="ui primary button mt-3">
                Sign In
                </button>
            </div>
        </form>
        <p class="mt-3 register-callout">
        New to Homunculi? <a href=#>Create an account.</a>
        </p>
    </div>
</div>