.auth-form{
    width:340px;
    margin: 0 auto 0 auto;
}

.auth-form-header {
    margin-bottom: 15px;
    color: #333;
    text-align: center;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.auth-form-header h1{
    font-size: 24px;
    color: black;
    font-weight: 300;
    letter-spacing:  -0.5px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.auth-form-body {
    padding: 20px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #d8dee2;
    border-radius: 4px;
}

.auth-form-body button{
    width: 100%;
}

.register-callout {
    padding: 15px 20px 15px 20px;
    text-align: center;
    border: 1px solid #d8dee2;
    border-radius: 5px;
}