<div class="header width-full pt-5">
  <div class="container clearfix width-full text-center">
  <img src="assets/images/ouroboros.png" width="100px">
  </div>
</div>

<div class="ui container reg-form mt-3">
<div class="ui vertical segment">
  <h1 class="ui huge header">
  Be a Homunculus
  <div class="sub header">Join the league of esteemed Developers</div>
  </h1>
</div>

<div class="ui">
  <div class="reg-form-container">
      <form class="ui form" [formGroup]="registrationForm">
          <h2 class="f2-light mb-1">
          Create your own account
          </h2>
          <dl class="form-group">
              <div class="field">
                  <label>Display name</label>
                  <input type="text" name="display-name" placeholder="Display Name" formControlName="displayname">
                  <p class="note">This will be the name displayed on your profile.</p>
              </div>
              <div class="field">
                  <label>Email address</label>
                  <input type="text" name="email" placeholder="Email@email.com">
                  <p class="note">Your email will be used for logging in. We're keeping this
                  to ourselves.
                  </p>
              </div>
              <div class="field">
                  <label>Password</label>
                  <input type="password" name="password" placeholder="Password">
                  <p class="note">Use at least one lowercase letter and seven characters.</p>
                  </div>
  
              <button class="ui button primary mt-3" type="submit">Register</button>
          </dl>
      </form>
      {{ livedata }}
      </div>
</div>
</div>