<div *ngIf="!userLoggedIn" class="ui text container masthead">
<h1 class="ui header">Homunculi</h1>
<h2>Developers who change the world</h2>
<a class="ui huge primary button" routerLink="/register">
  Join us now <i class="right arrow icon"></i>
</a>
</div>
<div *ngIf="userLoggedIn" class="grid ui text stackable container">

  <div class="container">
      <div class="ui vertical menu">
          <div class="item mini">
            <div class="header">
              Hello
            </div>
            {{displayname}}
          </div>
        </div>
  </div>

  <div class="ui panel">
    <div class="ui link cards">
        <a class="ui card" href="{{ tech.link }}" *ngFor="let tech of technologies">
          <div class="content">
            <div class="header">{{ tech.name }}</div>
            <div class="meta">{{ tech.type }}</div>
            <div class="description">
                {{ tech.description }}
            </div>
          </div>
        </a>
    </div>
  </div>

</div>